snippet fe "forEach"
arr.forEach( (obj) => {
	$1
});
endsnippet

snippet co "console.log"
console.log($1);
endsnippet

snippet cl "class"
class $1 {
	constructor() {
	}
};

module.exports = $1;
endsnippet

snippet rq "require"
const $1 = require('$1');
endsnippet

snippet ip "import"
import $1 from './$1';
endsnippet

snippet da "data"
data() { return {
	$1
}},
endsnippet

snippet fu "function"
function $1() {
	$2
}
endsnippet
